<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Manifesto for Open Language Technology - Privacy Policy</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <style>
  
  </style>
</head>
<body>
<section class="section">
<div class="container content columns">
  <div class="column is-three-fifths is-offset-one-fifth"> 
    <h1 class="title">Privacy Policy</h1>
    <p class="subtitle">A Manifesto for Open Language Technology</p>

    <p>
      All content provided to the manifesto signatory form will not be used by Divvun or Giellatekno for any other purpose
      than demonstrating your support for the manifesto and communicating with you regarding the manifesto
      if you have not opted out of receiving communications.
    </p>

    <p>Your email address will never be made public or shared.</p>

    <p>
      You may request to have your personal information removed at any time by sending an email
      to <a href="mailto:feedback@divvun.no">feedback@divvun.no</a>.
    </p>

    <p>
      <a href="/" class="button is-primary">Back to Manifesto</a>
    </p>
  </div>
</div>
</section>
</body>
</html>